.bt {
  color: #2fb8ff;
  color: #9eecd9;
  color: #ffda95;
  color: #e7522b;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.gradient {
  width: 100%;
  height: 90vh;
  position: absolute;
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(3, 3, 3, 0.24), rgba(0, 0, 0, 0.767));
  z-index: 5;
}

.bglight {
  background-color: rgba(255, 0, 0, 0);
  position: fixed;
  z-index: 11;
  color: white;
  width: 100%;

  /* position: sticky; */
}

.white {
  color: white;
}

.transparent,
#transparent {
  background-color: rgba(255, 255, 255, 0);
}

.landingpage img {
  height: 90vh;
}

.landingpage h2 {
  font-size: 4rem;
}

.landingpage p {
  font-size: 1.3rem;
}

.gradientover {
  z-index: 20;
}

.backlay {
  width: 100%;
  background-image: url('images/img2.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: -10;
}

.form {
  height: 80vh;
  width: 30vw;
  min-width: 360px;

  /* background: rgba(255, 0, 0, 0.178); */
  z-index: 5;
  margin: auto;
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.formoverlay {
  background-color: rgba(219, 218, 218, 0.795);
  height: 100vh;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 90vh;
  z-index: 1;
}

.form h2 {
  color: rgb(85, 84, 84);
  z-index: 5;
}

.form span {
  width: 75%;
  text-align: center;
  z-index: 5;
}

.active a {
  color: black;
}

input {
  background: transparent;
  outline: none;
}

.form input {
  width: 70%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 30px;
  z-index: 5;
  text-align: center;
}

input:focus {
  outline: none;
}

.form input:last-of-type,
#pass::placeholder,
#pass,
.form input:last-of-type::placeholder {
  color: #e7522b;
}

.form input:last-of-type,
#pass {
  border: 1px solid #e7522b;
}

.top {
  margin-top: -50vh;
  height: 800px;
  width: 100%;
}

.top2 {
  margin-top: -167vh;
  height: 1100px;
  width: 100%;
  background-color: white;
}

.footer {
  background-color: white;
  z-index: 30;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.loginform {
  height: 70vh;
}

.details {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.detailsimg,
.detailsdiv {
  width: 580px;
}

.detailsdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 40px;
}

.heart {
  color: rgb(212, 212, 216);
  font-size: 36px;
}

.favbtn {
  background-color: transparent;
  width: 150px;
  padding: 7px 0;
  border-radius: 5px;
  border: 1px solid #e7522b;
  outline: none;
  color: #e7522b;
}

.favdiv {
  display: flex;
  justify-content: space-between;

  /* margin: 0 17vw; */
  align-items: center;
  padding: 20px;
}

.hrtbtn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.hrtdiv {
  display: flex;
  width: 12vw;
  justify-content: space-around;
  align-items: center;

  /* padding-left: 20px; */

  /* margin-left: 3vw; */
}

.hrtbtn-clicked {
  color: red;
  font-size: 36px;
}

.fixed {
  font-weight: 400;
  font-size: larger;
  top: 0;
}

.red {
  background-color: rgb(172, 170, 170);
  border: none;
  padding: 2px;
  margin-left: 30px;
}

.logo p {
  margin-left: -30px;
}

.dpage .fixed {
  background-color: white;
  color: black;
  padding: 0;
  position: relative;
}

.footericons a {
  color: #e7522b;
}

.active { 
  background-color: white;
  color: black;
 }
.nav-transparent { background-color:transparent;}

.dpage .fixed p,
.dpage .fixed a {
  color: black;
}

.favorites .fixed {
  background-color: white;
  color: black;
  padding: 0;
  position: relative;
}

.favorites .fixed p,
.favorites .fixed a {
  color: black;
}

.stylecard {
  /* max-width: 540px; */

  /* width: 100%; */
  width: 85vw;
  margin: auto;

  /* margin-top: 5vh; */
  border: none;
  background-color: #f7f8f6;
}

.footer h6,
.footericons {
  width: 30vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: large;
  color: gray;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footericons {
  min-width: 10vw;
  max-width: 120px;
  font-size: x-large;
  color: #e7522b;
}

.footerbtn {
  background-color: transparent;
  outline: none;
  color: #e7522b;
  border: 1px solid #e7522b;
}
